.newproject_container{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1{
    margin-bottom: 0.5em;
}

.newproject_container p{
    color: #7b7b7b;
}

@media(max-width: 500px){
    .newproject_container{
        padding: 1.5em;
    }

    .newproject_container h1{
        font-size: 1.5em;
    }

    .newproject_container p{
        font-size: 0.95rem;
        text-align: justify;
    }
}