.projectDetails {
    padding: 2em;
    width: 100%;
}

.projectDetails h1,
.projectDetails h2,
.projectDetails p{
    margin-bottom: 0.5em;
}

.projectDetails h1{
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
}

.projectDetails span{
    font-weight: bold;
}

.detailsContainer,
.service_form_container{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.containerServices{
    width: 100%;
}

.btn{
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 3px;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover{
    color: #ffbb33;
}

.projectInfo{
    width: 100%;
}

@media (max-width: 900px){
    .service_form_container{
        width: 100%;
    }
}

@media (max-width: 500px){
    .projectDetails {
        padding: 1em;
    }

    .detailsContainer,
    .service_form_container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

    .btn {
        font-size: 0.9em;
        padding: 0.4em 0.8em;
      }
}