.footer{
    background-color: #222;
    color: #fff;
    padding: 2em;
    text-align: center;
}

.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li{
    margin: 8px;
}

.socialList li:hover{
    color: #FFBB33;
}

.socialList li svg{
    cursor: pointer;
}

.bold{
    font-weight: bold;
    color: #FFBB33;
}

.bold span{
    color: #fff;
}

@media (max-width: 600px) {
    .footer {
      padding: 1.5em 1em;
    }
  
    .socialList {
      gap: 0.5rem;
    }
  
    .socialList li {
      font-size: 1.3rem;
    }
  
    .bold {
      font-size: 1rem;
    }
  }