.btn{
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 3px;
}

.btn:hover{
    color: #ffbb33;
}

@media (max-width: 400px) {
    .btn {
        font-size: 0.9rem;
        padding: 0.6em 1.2em;
    }
}