.form_control{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    margin-bottom: 1em;
    font-weight: bold;
}

.form_control input{
    padding: 0.8em;
    border-radius: 3px;
    border: none;
}

.form_control input::placeholder{
    color: #7b7b7b;
}

@media(max-width: 500px){
    .form_control{
        margin-bottom: 0.8em;
    }

    .form_control label{
        margin-bottom: 0.5em;
        font-size: 0.95em;
        text-align: left;
    }

    .form_control input{
        padding: 0.6em;
        font-size: 1rem;
    }
}